<div class="form-container mt-3">
    <div class="progress">
        <div class="progress-bar bg-secondary" style="width:65%"></div>
    </div>
    <br>

    <div class="row">
        <div class="col-md-2">
            <div class="col p-3 bg-light text-dark">
                <img src="assets/box.jpg" alt="My Image" height="80px" width="80px">
            </div>
        </div>
        <div class="col-md-10">
            <div class="col p-3 bg-light text-dark">The parties acknowledge that all records created, amended or
                modified during
                the fulfillment and course of this Agreement shall remain with the primary clinic or
                with the relevant facility or authority and that the Contractor will have no
                proprietary rights to any records and nor shall any records be removed other than
                as required for the provision of care.The parties acknowledge that all records created, amended or
                modified during
                the fulfillment and course of this Agreement shall remain with the primary clinic or
                with the relevant facility or authority and that the Contractor will have no
                proprietary rights to any records and nor shall any records be removed other than
                as required for the provision of care.The parties acknowledge that all records created, amended or
                modified during
                the fulfillment and course of this Agreement shall remain with the primary clinic or
                with the relevant facility or authority and that the Contractor will have no
                proprietary rights to any records and nor shall any records be removed other than
                as required for the provision of care.The parties acknowledge that all records created, amended or
                modified during
                the fulfillment and course of this Agreement shall remain with the primary clinic or
                with the relevant facility or authority and that the Contractor will have no
                proprietary rights to any records and nor shall any records be removed other than
                as required for the provision of care.
                <br><br>

                <input type="text" style="margin-right: 20px; width: 400px; height: 45px;"
                    placeholder="Patient Signature: ">
                <input type="text" style="width: 400px; height: 45px;" placeholder="Date: ">
                <br><br>
                <input type="checkbox" id="a" name="a" style="margin-left: 5px;">
                <label for="a"> &nbsp; I Understant and Agree</label>
                <br>
            </div>
        </div>
    </div>

    <span><button class="center-button btn btn-warning" (click)="goToMedical()">Previous</button></span>

    <span><button class="center-button btn btn-success" style="margin-left: 80%;" (click)="goToConfirm()">Next</button></span>

    <br>
</div>