<div class="container mt-3">

  <ul class="nav justify-content-around ">
    <li class="nav-item"> <a class="nav-link" routerLink="/"><h4>1.Personal Information</h4></a> </li>
    <li class="nav-item"> <a class="nav-link" routerLink="/medical"><h4>2.Medical History</h4></a> </li>
    <li class="nav-item"> <a class="nav-link" routerLink="/consent"><h4>3.Consent Agreement</h4></a> </li>
    <li class="nav-item"> <a class="nav-link" routerLink="/confirm"><h4>4.Confirmation</h4></a> </li>
  </ul>

</div>


<!-- app.component.html -->
<router-outlet></router-outlet>