/* styles.css */

.toggle-container {
    display: flex;
    align-items: center;
    margin: 20px;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 26px;
  }
  
  .switch input {
    display: none;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #0e6b1d;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
  }
  
  .toggle-label {
    margin-left: 10px;
    user-select: none;
  }
  
  .right-bottom-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
  }

  .form-label {
    position: relative;
    display: block;
    width: 100%;
  }

  .form-control {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }

  .icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }

  
.form-container {
  border: 2px solid #000000;
  border-radius: 10px; 
  padding: 20px; 
  margin-bottom: 20px; 
}